<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brukestøtte</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/">Logo</a>
        <a href="/login">Logg inn</a>
    </nav>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Søk..." style="padding: 10px; margin: 20px 0; border: 1px solid #ccc; border-radius: 5px; width: calc(100% - 22px);">


    <ul id="myUL">
        <% guides.forEach(function(guide) { %>
            <li><a href="/guide/<%= guide._id %>"><%= guide.title %></a></li>
        <% }) %>
    </ul>
    

    <script src="/javascript/main.js"></script> 
</body>
</html>

<!-- det jeg mangler
 bedre styling og fix guide.ejs
 logo
 lage flere guides
 forkjellig knapper/menyer om du er logget in 
 captcha
 -->