<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brukestøtte</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/">Logo</a>
        <a href="/guide">Guide</a>
        <a href="/login">Logg inn</a>
    </nav>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Søk...">

    <ul id="myUL">
        <li><a href="/guide/#githubpush/pull">Github push/pull</a></li>
        <li><a href="/guide/#githubclone">Github clone</a></li>
        <li><a href="/guide/#githubfirstcommit">Github first commit</a></li>
        <li><a href="/guide/#virtualmachinesetupubuntu">Virtual machine setup ubuntu</a></li>
        <li><a href="/guide/#vminloging">VM innlogging</a></li>
        <li><a href="/guide/#vmapacheinstall">VM apache install</a></li>
    </ul>

    <script src="/javascript/main.js"></script> 
</body>
</html>

<!-- 
 dashboard can bare kommes inn hvis du er innlogget 
 bedre styling 
 endre guides på dashboard
 logo
 lage flere guides
 få index sine myul til å være guidene fra databasen 
 displaye bilder på guides
 author
 captcha

 -->