body {
    margin: 0;
    font-family: Arial, sans-serif;
    max-width: 100%;
    background-color: bisque;
    text-align: center;
}

nav {
    display: flex;
    background-color: rgb(255, 199, 131);
    justify-content: space-around;
    padding: 2%;
}

img {
    max-width: 70%;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    list-style-type: none;
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}
.gridcontainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
    "aside aside aside main main main main main main main"
    ;
    min-height: 800px;
}
.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: rgb(255, 199, 131);
    position: fixed; 
    height: 100%; 
    padding: 20px;
    text-align: center;
}

.maincontainer {
    grid-area: main;
    margin-left: 3%; 
    padding-right: 5%;
}
.aside li{
    padding-bottom: 15px;
}
.aside a {
    margin-bottom: 20px;
    text-decoration: none;
}
p {
    padding-bottom: 5%;
}
ul {
    list-style-type: none;
    padding: 0px;
}
.textsize1 {
    font-size: 25px;
}

.textsize2{
    font-size: 23px;
}
@media (max-width: 768px) {
    .aside {
        font-size: small;
    }
    .gridcontainer {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
        "aside aside main main main main main main main"
        ;
    }
}
@media (max-width: 480px) {
    .aside {
        font-size: x-small;
    }
    .maincontainer {
        margin-left: 7%; 
    }
}